/* .login__info {
    margin: 10px;
    border: 0px solid rgb(54, 54, 54);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgb(0, 0, 0, 0.75);
    height: 300px;
}

.login__info > h1 {
    padding: 10px;
}

.img__tool {
    height: 5%;
    width: 5%;
    margin-top: 0;
    margin-left: 350px; */
    
/* } */


button {
    background-color: rgb(247, 44, 8);
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    padding: 15px;
    /* border-radius: 999px; */
    
}

button:hover {
    background-color: white;
    color: rgb(247, 44, 8);
}

button:disabled {
    background-color: lightgray;
    color: gray
}

/* .login__info > button {
    height:50px;
    width: 100px;
    background-color: rgb(226, 53, 9);
    color: white;
    border: 3px solid peachpuff;
    border-radius: 999px;
}

.login__info > button:hover {
    height:50px;
    width: 100px;
    background-color: white;
    color: rgb(226, 53, 9);
    border: 3px solid peachpuff;
    border-radius: 999px;
} */

